*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-sbox; }

html {
  scroll-behavior: smooth; }

body {
  background: linear-gradient(120deg, #eecda3, #ef629f);
  font-family: "Amatic SC", cursive; }
  body::-webkit-scrollbar {
    width: 25px; }
  body::-webkit-scrollbar-track {
    background: #343434; }
  body::-webkit-scrollbar-thumb {
    width: 10px;
    background: #d5d5d5;
    border: 6px solid transparent;
    border-radius: 100px;
    background-clip: content-box; }
    body::-webkit-scrollbar-thumb:active {
      border: 6px solid transparent;
      background: #c1c1c1; }

.header {
  height: 100vh;
  width: 100%;
  position: relative; }

.divHello {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  border-radius: 5px; }

.Hello {
  font-weight: 100;
  font-size: 52px;
  margin: 0;
  width: 25;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Amatic SC", cursive;
  padding-right: 10px;
  color: #fff;
  animation: animate 1.4s ease-in-out; }

.subHeading {
  display: block;
  color: #f5f5f5;
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  letter-spacing: 2.2px;
  animation: animate2 1.4s ease-in-out; }

.journey {
  display: block;
  font-family: "Amatic SC", cursive;
  margin-top: 35px;
  font-size: 34px;
  font-weight: 500;
  color: #f5f5f5;
  animation: animate3 1s linear;
  animation-delay: 1s;
  animation-fill-mode: backwards; }

.letsgo {
  display: block;
  margin-top: 20px;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  color: #343434;
  font-size: 30px;
  font-weight: 700;
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/121d52c3-440b-48ea-ab9e-8be8dd70abcd/d73k5mj-9b133ee7-cfd1-453c-8f17-b86da9060ce3.jpg/v1/fill/w_1032,h_774,q_70,strp/crumpled_paper_texture_by_pkgam_d73k5mj-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0yNzM2IiwicGF0aCI6IlwvZlwvMTIxZDUyYzMtNDQwYi00OGVhLWFiOWUtOGJlOGRkNzBhYmNkXC9kNzNrNW1qLTliMTMzZWU3LWNmZDEtNDUzYy04ZjE3LWI4NmRhOTA2MGNlMy5qcGciLCJ3aWR0aCI6Ijw9MzY0OCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.1P4n41Sk7L0n96Sqe8uyVdp27I1U3LSyQKO6unaViB4");
  padding: 20px 40px;
  animation-fill-mode: backwards;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  background-position: top;
  background-size: cover;
  text-align: center;
  transition: background-position 0.8s;
  animation: animate4 1s ease-in; }
  .letsgo:hover {
    background-position: 4%; }
  .letsgo:active {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1); }

#secondSection {
  height: 100vh;
  width: 100%;
  position: relative; }

.headingSection {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #343434;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }

.Heading2 {
  font-weight: 500;
  color: #f5f5f5;
  font-size: 28px;
  display: block;
  padding: 20px;
  border: 5px; }

.secondSectionMain {
  position: absolute;
  top: 10%;
  width: 100%; }

.card {
  left: 50%;
  margin-top: 25px;
  transform: translateX(-50%);
  position: relative;
  background-color: #f5f5f5;
  display: block;
  width: 80%;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25); }
  .card-Heading {
    padding-left: 5px;
    font-weight: 600;
    margin-top: 5px;
    font-family: "Poppins";
    font-size: 20px; }
  .card-Text {
    padding: 5px;
    font-family: "Poppins";
    font-size: 12px; }
  .card:not(:first-child) {
    margin-top: 100px; }

.cardImage {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: top; }
  .cardImage-1 {
    background-image: url("https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"); }
  .cardImage-2 {
    background-image: url("https://images.unsplash.com/photo-1596918501455-a17b090cb0a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"); }

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(-1000px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes animate2 {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animate3 {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animate4 {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.ml-1 {
  margin-left: 10px; }
