*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-sbox;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

@import "firstPart";
@import "secondPart";
@import "animation";
